html
{
    scroll-behavior: smooth;
    
}


body
{background-color:white; 
   padding-top: 90px;   
}

.container1{
  background-color: brown;
  position: relative;
 
}

h1{
    font-size: 75px;
    font-family: 'Dancing Script', cursive;
    padding-bottom: 20px;
    color: brown;
   
}



#navId1
{
    font-family: 'Dancing Script', cursive;
	font-size: 1.5rem;
	font-weight: 50;
}

#navId1 .nav-link
{
	color:#ffca3f;
}
#navId1 .nav-link:hover
{
	color: brown;
}
.navbar.scrolled
{
  background-color:#ede7d7;
}


